PORT=4000
AUTH_SERVICE_URL=http://localhost:4001
DONOR_SERVICE_URL=http://localhost:4002
REQUEST_SERVICE_URL=http://localhost:4003
VERIFICATION_SERVICE_URL=http://localhost:4004
NOTIFICATION_SERVICE_URL=http://localhost:4005
CAMP_SERVICE_URL=http://localhost:4006
INVENTORY_SERVICE_URL=http://localhost:4007
